* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  inset: 0;
  z-index: -2;
  background-image: url("imgs/Hexagon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background:
    linear-gradient(transparent 95%, rgba(255, 255, 255, 0.04) 96%),
    linear-gradient(90deg, transparent 95%, rgba(255, 255, 255, 0.04) 96%);

  background-size: 40px 40px;
  animation: gridMove 18s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background: radial-gradient(
    circle at center,
    rgba(255, 47, 179, 0.06),
    transparent 60%
  );

  animation: pulse 6s ease-in-out infinite;
}

@keyframes gridMove {
  0% {
    background-position:
      0px 0px,
      0px 0px;
  }
  25% {
    background-position:
      30px 15px,
      15px 30px;
  }
  50% {
    background-position:
      0px 40px,
      40px 0px;
  }
  75% {
    background-position:
      -30px 15px,
      15px -30px;
  }
  100% {
    background-position:
      0px 0px,
      0px 0px;
  }
}

label{
  color: rgb(42, 197, 4);
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.main-btn{
  border-radius: 4px;
  width: 40vh;
  background-color: rgb(44, 44, 209);
  color: white;
  padding: 2px;
  transition: ease-in-out 0.1s;
}

.main-btn:hover{
  transform: scale(0.90);
  background-color: rgb(22, 22, 209);
}

.main-btn:active{
  transform: scale(0.85);
  background-color: rgb(22, 22, 209);
}

.task-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-color: blueviolet;
  border-width: 10px;
}

.task-table th, .task-table td{
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}
.high{
  color: red;
}
.medium{
  color: orange;
}

.low{
  color: yellow;
}


